* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .about-us-container {
    width: 80%;
    margin: 20px auto;
    max-width: 800px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  header p {
    font-size: 1.2em;
    color: #666;
  }
  .wrapper {
    display: flex;
    gap: 10px; /* Add space between buttons */
    justify-content: center; /* Center align the buttons */
    margin-top: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1161ee;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #1454c4;
  }
  
  
  section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
  }
  
  section p, section ul {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
  }
  
  .team-member h3 {
    font-size: 1.4em;
    margin-top: 10px;
    color: #333;
  }
  
  .team-member p {
    font-size: 1em;
    color: #666;
  }
  
  .milestones ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .contact-info p {
    font-size: 1em;
    color: #555;
  }
  
  @media (max-width: 600px) {
    .about-us-container {
      width: 95%;
    }
  
    header h1 {
      font-size: 2em;
    }
  
    section h2 {
      font-size: 1.5em;
    }
  }
  