/* Basic Reset */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: #f4f5fa;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f0a500;
}
.logo a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
img{
  width: 350px;
  height: 85px;
}

.wrapper {
  display: flex;
  gap: 10px; /* Add space between buttons */
  justify-content: center; /* Center align the buttons */
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1161ee;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1454c4;
}

/* Search and Filters */
.product-search {
  background-color: #f8f8f8;
  padding: 2rem;
  text-align: center;
}

.search-bar input {
  width: 60%;
  padding: 0.5rem;
  border: 2px solid #333;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.search-bar button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #f0a500;
}

.filters button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filters button:hover {
  background-color: #f0a500;
}

/* Product List */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  border-radius: 5px;
}

.product-card h4 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.product-card button {
  padding: 0.5rem;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: #f0a500;
}

/* View Cart Button */
.view-cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0.8rem 1.5rem;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-cart:hover {
  background-color: #f0a500;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
